.titulo {
    color:#2364a1;
    background-color: rgb(189, 189, 189);
}

.logo {
    background-color: rgb(187, 187, 187)
}

.sub {
  background-color: rgb(187, 187, 187);
  color: brown;
}

.pie {
    
    background-color:#2364a1 ;
    color: white;
}